name: ci-infra-terraform

on:
  pull_request:
    branches: [dev]
    paths:
      - infra/terraform/**

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: infra/terraform
    env:
      TF_PLUGIN_CACHE_DIR: ~/.terraform.d/plugin-cache

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init+validate (dev)
        run: |
          terraform -chdir=envs/dev init -backend=false
          terraform -chdir=envs/dev validate

      - name: Terraform init+validate (prod)
        run: |
          terraform -chdir=envs/prod init -backend=false
          terraform -chdir=envs/prod validate

      - name: Terraform plan (dev)
        run: terraform -chdir=envs/dev plan -input=false -no-color

      - name: Trivy IaC scan (Terraform)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'config'
          scan-ref: 'infra/terraform'
          hide-progress: true
          format: 'table'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          exit-code: '1'

